@model List<MyDiplom.Models.Group>

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
                nav {
                    width: 800px;
                }

                    .employee-img {
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        margin-right: 10px;
                    }

                    .employee-info {
                        display: flex;
                        align-items: center;
                    }

                        .employee-info div {
                            margin-left: 10px;
                           /*  opacity: 0;
                            visibility: hidden;
                            transition: opacity 0.3s ease, visibility 0.3s ease; */
                        }

                    .employee-card {
                        background-color: #fff;
                        border-radius: 8px;
                        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                        padding: 15px;
                        margin-bottom: 20px;
                        transition: transform 0.2s, box-shadow 0.2s;
                        position: relative; /* Для позиционирования текста */
                        overflow: hidden; /* Скрываем элементы, выходящие за пределы карточки */
                    text-decoration: none; /* Убираем подчеркивание */
                    color: inherit; /* Унаследуем цвет текста от родителя */
                    display: block;
                    }

        .employee-card:hover {
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Эффект тени при наведении */
        }



                    .employee-info p {
                        margin: 5px 0;
                    }

                    .employee-info label {
                        display: block; /* Чтобы каждый элемент занимал свою строку */
                        margin: 5px 0;
                    }
    </style>
</head>
<body>
    <nav style="width:1000px">
        <a href="@Url.Action("Main_employee", "Home")" class="nav-icon-left">
            <img src="~/css/Main_Icon.png" alt="Profile Icon" class="profile-icon">
        </a>
        <div class="nav-links">
            <a href="@Url.Action("Main_employee", "Home", new {  id = ViewBag.UserId })">Главная</a>
            <a href="@Url.Action("List_employee_emp", "List")">Воспитатели</a>
            <a href="@Url.Action("List_Group_employee", "List")">Расписание</a>
            <a href="@Url.Action("Messenger_emp", "Chat" )">Сообщения</a>
            <div class="animation"></div>
        </div>
        <a href="@Url.Action("Account_employee", "UserAccount", new {  id = ViewBag.UserId })">
            <img src="~/css/my_acc.png" alt="Profile Icon" class="profile-icon">
        </a>
        <a href="@Url.Action("Main_no_auth", "Home")">
            <img src="~/css/out.png" alt="Profile Icon" class="profile-icon">
        </a>
    </nav>
    <div class="container">

        <div class="container">
            <h1>Список групп</h1>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">

                        <div class="employee-card">
                            <div class="employee-info">
                                <img src="~/css/child_icon.png" class="employee-img" />
                                <div>
                                    <a href="#" class="employee-card"><label>@item.GroupName</label></a>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
